<plugin name='multi-tenant' version='0.18-SNAPSHOT' grailsVersion='1.3.4 &gt; *'>
  <author>Eric Martineau, Scott Ryan</author>
  <authorEmail>ericm@infusionsoft.com, scott@theryansplace.com</authorEmail>
  <title>Multi-Tenant Plugin</title>
  <description>\
Allows for managing data for mutiple 'tenants' in a single database by using a tenantId column for each domain object.  Also handles
the proxying of spring beans for a multi-tenant environment.
</description>
  <documentation>http://grails.org/MultiTenant+Plugin</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>TenantClassInjector</resource>
    <resource>TenantFilters</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <plugin name='falconeUtil' version='0.8' />
  </dependencies>
  <behavior />
</plugin>