<plugin name='multi-tenant' version='0.16' grailsVersion='1.2.2 &gt; *'>
  <author>Eric Martineau</author>
  <authorEmail>ericm@infusionsoft.com</authorEmail>
  <title>Multi-Tenant Plugin</title>
  <description>\
Allows for managing data for mutiple 'tenants' in a single database by using a tenantId column for each domain object.  Also handles
the proxying of spring beans for a multi-tenant environment.
</description>
  <documentation>http://grails.org/MultiTenant+Plugin</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>TenantClassInjector</resource>
    <resource>TenantFilters</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <plugin name='falconeUtil' version='0.8' />
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
      <resolver type='mavenCentral' />
      <resolver type='mavenRepo' root='http://download.java.net/maven/2/' name='http://download.java.net/maven/2/' m2compatbile='true' />
      <resolver type='mavenRepo' root='http://repository.jboss.com/maven2/' name='http://repository.jboss.com/maven2/' m2compatbile='true' />
    </resolvers>
    <dependency group='opensymphony' name='oscache' version='2.4' conf='compile' transitive='true'>
      <excludes group='*' name='jms' />
      <excludes group='*' name='commons-logging' />
      <excludes group='*' name='servlet-api' />
    </dependency>
  </dependencies>
  <behavior />
</plugin>